.about {
	background-color: #E1940A;
	border: 20px solid #fff;
	// padding: 20px;
	.content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		h2 {
			font-size: 40px;
			color: #FECD00;
			line-height: 40px;
			.phonetic {
				font-size: 35px;
				line-height: 21px;
			}
		}
		p {
			color: #f1f1f1;
			font-size: 20px;
		}
		// h3 {
		// 	color: #312662;
		// }
	}
}

// 	.content-left {
// 		background-color: #F25A14;
// 		width: 50%;
// 		height: 100%;
// 		text-align: right;
// 		float: left;
// 		h2,h3 {
// 			position: relative;
//   		top: 50%;
//   		transform: translateY(-50%);
// 			color: #000;
// 			margin-right: 10px;
// 			padding: 5px 0;
// 			.phonetic {
// 				font-size: 20px;
// 			}
// 		}
// 	}
// 	.content-right {
// 		width: 50%;
// 		height: 100%;
// 		background-color: #00998F;
// 		float: left;
// 		.text {
// 			position: relative;
// 			top: 56%;
// 			transform: translateY(-56%);
// 			width: 90%;
// 			padding: 10px;
// 			p {
// 				color: #000;
// 			}
// 		}
// 	}
// }