.contact {
  background-color: #fff;
  .mail {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    a {
      display: inline-block;
      margin: 0 auto;
      font-size: 4vw;
      color: #FECD00;
      text-decoration: none;
      border-bottom: 8px solid transparent;
      transition: all 0.2s;
      &:hover {
        border-bottom: 8px solid #FECD00;
        transition: all 0.2s;
      }
    }
  }
}