.logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-width: 500px;
  margin: auto;
  fill: desaturate(darken($color-brand, 20%), 20%);
  mix-blend-mode: multiply;
}

.logo-text-hidden {
  @extend %visually-hidden;
}