header {
  background: url(../images/marble_blue_dark.jpg);
  background-size: cover;
  padding: 2em;
}

.logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  max-width: 400px;
  margin: auto;
  fill: #fff;
}

.logo-icon {
  transform-origin: 50% 100% 0;
  animation: weighing 2s cubic-bezier(.3, .885, .320, 2) infinite alternate;
}

@keyframes weighing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg); 
  }
}

.logo-text {
  
}

.logo-text-hidden {
  @extend %visually-hidden;
}