.people {
  background-color: #E8550C;
  border: 20px solid #fff;
  border-top: 0;
}

.people-slider {
  height: 100%;

  ul {
    position: relative;
    height: 100%;
  }

  li {
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .image { 
    height: 80%;
  }
  .about {
    height: 20%;
  }
}
