.people {
  background-color: #E7E5E6;
  border: 20px solid #fff;
  border-top: 0;
}

.people-slider {
  height: 100%;

  ul {
    position: relative;
    height: 100%;
  }

  li {
    display: inline-block;
    float: left;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .image { 
    height: 80%;
    width: auto;
    margin: 0 auto;

    img {
      height: 100%;
      width: auto;
      margin: 0 auto;
    }
  }
  .info {
    height: 20%;
    width: 80%;
    margin: 0 auto;
    background-color: #202020;
    color: #f0f0f0;
    
    h3 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
