<section class="about">
	<div class="content">
		<h2>KOMMODE [<span class="phonetic">ku'muːdə</span>]</h2>
		<p>Our kommode is filled with eight friends and creative developers. <br>
		It was built on a base of creativity, playfulness and our thirst for crafting beautiful user experiences</p>

		<p>We love working together and would love to work with you.</p>
	</div>
</section>

<!-- <section class="about">
  <div class="content-left">
   		<h2>Kommode <br /> </h2>
   		<h3>[<span class="phonetic">ku'muːdə</span>] <br />
   		norwegian for bureau</h3>
  </div>
  <div class="content-right">
  	<div class="text">
	  	<p>Our kommode is filled with eight friends and creative developers. <br>
			It was built on a base of creativity, playfulness and our thirst for crafting beautiful user experiences</p>

			<p>We love working together and would love to work with you.</p>
  	</div>
  </div>
</section> -->