<section class="slide slide2">
    <div class="people">
      <img src="http://placehold.it/300x800&text=Skojarlars!"> 
      <img src="http://placehold.it/300x800&text=Pantgurra!">
      <img src="http://placehold.it/300x800&text=Gustaveeeeeen!"> 
      <img src="http://placehold.it/300x800&text=Pirresnirre!">
      <img src="http://placehold.it/300x800&text=The Gab!">
      <img src="http://placehold.it/300x800&text=Mirre!">
      <img src="http://placehold.it/300x800&text=Eriba!">
      <img src="http://placehold.it/300x800&text=Ante!"> 
    </div>
</section>