html, body {
  height: 100%;
}

.slide {
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  &.slide2{
    background-color: #fff;
    overflow-x: auto;
    .people{
      width:3000px;
    }
    li {
      float: left;
    }
    img {
      display: inline-block;
    }
  }
  .header {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    img{
      height:150px;
      width:auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.slide4 {
  background-color: #fff;
  h1 {
    text-align: center;
  }
}


.container {
    width: $width-lg-screen;
    margin: 0 auto;
}


