.wrapper {
  height: 100%;
  position: relative;
}
section {
  width:100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
}

.container {
  width: $width-lg-screen;
  margin: 0 auto;
  height: 100%;
}



